@charset "UTF-8";
* {margin: 0 auto; padding: 0; text-decoration: none; list-style: none; color:black;}
img,fieldset {border:0 none;}
video,img {width: 100%;}
/* 레이아웃 */
#header {width: 100%; height: 63px; border-bottom: 1px solid #c6c6c6; background: rgba(0,0,0,0);}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto; background: rgba(0,0,0,0); }

/* 로우 영역 */
.row {padding: 0 24px;}

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
.header h1 em img {width: 155px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6}
.header .nav ul li {float: left; width: 103px; text-align: center; border-right: 1px solid #c6c6c6;}
.header .nav ul li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}
/* 배너 */
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 120px; width: 100%; height: 100px;}
.banner_menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float: left;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid black;}
.banner_menu .bm_right li.purple {margin-right: 0;}
.banner_menu .bm_right li.purple a {width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #6e40c4;}
/*답변 창 디자인*/
#replyboard form{
	width: 800px;
	height: 100%;
	margin-top: 200px;
	justify-content: center;
	display: flex;
	margin-bottom: 200px;
}

#replyboard table {
	 width: 100%;
	 border-collapse : collapse;
	 border: 1px solid rgb(101, 27, 114);
	 justify-content: center;
	 height: 500px;
}

#replyboard .upinput {
	width:70%;
	height:90%
}

#replyboard input[type="submit"],
#replyboard input[type="reset"],
#replyboard input[type="button"] {
  display: inline-block;
  padding: 8px 20px;
  background-color: #3a0e6a;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#replyboard input[type="submit"]:hover,
#replyboard input[type="reset"]:hover,
#replyboard input[type="button"]:hover {
	background-color: #6e40c4;
}

#replyboard td{
	 border: 1px solid rgb(101, 27, 114);
	 border-collapse : collapse;
}



footer{float: left; display: flex; justify-content: center; background-color: rgba(0, 110, 255, 0.473); width: 100%;}
footer>ul>li{float:left; padding: 20px; text-align: center; margin-top: 40px; color:white}
footer>p{float: right; padding: 20px; text-align: left; color:white; margin-top: 15px; }